<div class="-mr-8 flex flex-col items-center justify-center gap-10 md:flex-row">
    <!-- Image -->
    <div class="flex w-full justify-center md:w-1/2 md:justify-end">
        <img src="/imgs/error.png" class="h-auto w-5/12" />
    </div>

    <!-- Content -->
    <div class="flex w-full flex-col items-center justify-center space-y-3 md:w-1/2 md:items-start">
        <h3 class="text-4xl font-bold text-gray-800 dark:text-gray-100">@localizer["alert.title"]</h3>
        <p class="text-lg text-gray-600 dark:text-gray-300">@localizer["alert.description"]</p>
    </div>
</div>