@{
    var currentLang = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="description" content="Blog của Nguyễn Kim Bảo">
    <meta name="author" content="Nguyễn Kim Bảo">
    <meta name="google-site-verification" content="TPeqyGD_85PERvELnMqMIPfLoseHA_Jbb0gKQKdbmq8" />
    <meta property="og:title" content="Nguyễn Kim Bảo">
    <meta property="og:description" content="Blog của Nguyễn Kim Bảo">
    <meta property="og:image" content="/favicon/android-chrome-512x512.png">
    <meta property="og:url" content="https://baoit.site">
    <meta name="twitter:title" content="Nguyễn Kim Bảo">
    <meta name="twitter:description" content="Blog của Nguyễn Kim Bảo">
    <meta name="twitter:image" content="/favicon/android-chrome-512x512.png">
    <meta name="twitter:card" content="summary">
    <meta name="DC.title" content="Nguyễn Kim Bảo">
    <meta name="DC.creator" content="Nguyễn Kim Bảo">
    <meta name="DC.description" content="Blog của Nguyễn Kim Bảo">
    <meta name="DC.language" content="vi">
    <meta name="robots" content="index, follow">
    <meta name="color-scheme" content="dark">
    <link rel="canonical" href="https://baoit.site">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/twemoji-awesome.min.css">
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="min-h-screen max-w-full overflow-x-hidden bg-white text-black antialiased dark:bg-dark dark:text-white">
    <!--Navbar-->
    <nav>
        @await Component.InvokeAsync("NavBar")
    </nav>

    <div class="mx-auto max-w-3xl px-3 sm:px-6 md:max-w-4xl xl:max-w-5xl xl:px-0">
        <div class="flex flex-col justify-between">
            <!--Main View-->
            <main class="z-0 min-h-[85vh] max-w-full">
                <!--Render Body-->
                @RenderBody()
            </main>

            <!--Footer-->
            @await Component.InvokeAsync("Footer")
        </div>
    </div>

    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</body>

</html>


