<div class="space-y-2 text-sm font-semibold text-gray-900 dark:text-gray-100 sm:space-y-0" id="filterBy">
    <button type="button" class="border-b-4 bg-transparent px-4 py-2 duration-500 hover:bg-gray-200 sm:w-36 dark:hover:bg-gray-600 border-blue-500" value="all">
        @localizer["projects.filter_by.all"]
    </button>

    <button type="button" class="border-b-4 bg-transparent px-4 py-2 duration-500 hover:bg-gray-200 sm:w-36 dark:hover:bg-gray-600 border-gray-300 dark:border-gray-500" value="in_progress">
        @localizer["projects.filter_by.in_progress"]
    </button>

    <button type="button" class="border-b-4 bg-transparent px-4 py-2 duration-500 hover:bg-gray-200 sm:w-36 dark:hover:bg-gray-600 border-gray-300 dark:border-gray-500" value="done">
        @localizer["projects.filter_by.done"]
    </button>
</div>