<input type="text" placeholder="Tên đăng nhập"
       class="w-full border-b-2 border-gray-300 bg-transparent p-2 duration-500 focus:border-blue-500 focus:outline-none focus:ring-0" />

<input type="password" placeholder="Mật khẩu"
       class="w-full border-b-2 border-gray-300 bg-transparent p-2 duration-500 focus:border-blue-500 focus:outline-none focus:ring-0" />

<!-- hCaptcha -->
<div class="w-full">
    <div class="h-captcha w-full" data-sitekey="db68756e-31f2-4612-a94a-9fe8796a2b2e"></div>
</div>



<button type="submit"
        class="blueBtn w-full rounded px-4 py-2 font-semibold text-white">
    Đăng nhập
</button>

<!-- Script hCaptcha -->
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
