<style>
    @@keyframes blink {
        0%, 90%, 100% {
            opacity: 1;
        }

        95% {
            opacity: 0;
        }
    }

    .eye-open {
        animation: blink 3s infinite;
    }

    .eye-closed {
        animation: blink 3s infinite;
    }
</style>

<div class="relative h-4 w-4">
    <!-- Eye Open -->
    <svg xmlns="http://www.w3.org/2000/svg" class="eye-open absolute inset-0 h-full w-full" viewBox="0 0 24 24"
         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
        <circle cx="12" cy="12" r="3" />
    </svg>
    <!-- Eye Closed -->
    <svg xmlns="http://www.w3.org/2000/svg" class="eye-closed absolute inset-0 h-full w-full hidden"
         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
         stroke-linejoin="round">
        <path d="m15 18-.722-3.25" />
        <path d="M2 8a10.645 10.645 0 0 0 20 0" />
        <path d="m20 15-1.726-2.05" />
        <path d="m4 15 1.726-2.05" />
        <path d="m9 18 .722-3.25" />
    </svg>
</div>

