<div class="pointer-events-none absolute right-0 top-0 h-full w-full overflow-hidden z-40">
    <div class="right-[-30px] absolute top-[22px] w-[120px] rotate-45 transform overflow-visible bg-red-600 py-[2px] text-center text-xs font-medium text-white">
        @localizer["projects.filter_by.in_progress"]
    </div>
</div>