<button type="button" id="backToTopBtn" style="display: none;"
        class="blueBox fixed bottom-5 right-5 rounded-full border-0 bg-red-700 p-3 text-white hover:bg-red-800 focus:outline-none dark:bg-red-600 dark:hover:bg-red-500">
    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
    </svg>
</button>

<script>
    $(document).ready(function () {
      $(window).scroll(function () {
          const btnBTT = $("#backToTopBtn");
          $(this).scrollTop() > 50 ? btnBTT.fadeIn() : btnBTT.fadeOut();
      });
      $("#backToTopBtn").click(function () {
          $("html, body").animate(
            {
              scrollTop: $("body").offset().top,
            },
            "slow"
          );
        });
    });
</script>
